USE [master]
GO
/****** Object:  Database [DBClientes]    Script Date: 3/11/2022 11:02:38 AM ******/
CREATE DATABASE [DBClientes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBClientes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBClientes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBClientes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBClientes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBClientes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBClientes]
GO
/****** Object:  Table [dbo].[tblApiConfig]    Script Date: 3/11/2022 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApiConfig](
	[Mantenimiento] [varchar](30) NOT NULL,
	[Metodo] [varchar](10) NOT NULL,
	[Url] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCliente]    Script Date: 3/11/2022 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Correo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_tblCliente] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
Insert Into tblApiConfig Values ('ClienteMN01',	'POST',	'https://localhost:44330/Api/Clientes/Insertar')
GO
Insert Into tblApiConfig Values ('ClienteMN01',	'GET',	'https://localhost:44330/Api/Clientes/Buscar')
GO
Insert Into tblApiConfig Values ('ClienteMN01',	'PUT',	'https://localhost:44330/Api/Clientes/Actulizar')
GO
